# Git and Environments
.git
.gitignore
venv/
env/
.env

# Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS specific
.DS_Store

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Large models / data folders (if you want to ignore them from the build context)
# data/raw/*
# data/processed/*
